:root {
    --red-primary: red;
    --red-secondary: darkred;
    --gold-primary: gold;
    --gold-secondary: goldenrod;
}

body {
    font-family: "Times New Roman";
}

.heading {
    padding: 35px;
    background-color: var(--red-primary);
    font-size: 64px;
    color: var(--gold-primary);
    text-align: center;
}

.book-container {
    padding: 25px 25px 50px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    justify-content: center;
    gap: 50px 125px;

    & .book {
        height: 325px;
        background-color: var(--red-primary);
        border-left: 45px solid var(--red-secondary);
        border-radius: 0px 15px 15px 0;
        text-align: center;
        color: var(--gold-primary);
        position: relative;

        & .title {
            margin-top: 45px;
            font-size: 48px;
        }

        & .author {
            font-size: 36px;
            margin-bottom: 25px;
        }

        & .pages {
            font-size: 32px;
        }

        & .book-btn {
            background: center / 50px no-repeat var(--gold-primary);
            padding: 30px 45px;
            border-left: none;
            border-color: var(--gold-secondary);
            position: absolute;
            cursor: pointer;
        }

        & .read-status-btn {
            background-image: url("../icons/book-read.svg");
            bottom: 200px;
            left: 230px;
        }

        & .remove-btn {
            background-image: url("../icons/remove-book.svg");
            bottom: 100px;
            left: 230px;
        }
    }

}

.add-book-btn {
    background: url("../icons/add-book-outline.svg") left 15px center / 42px no-repeat;
    font-size: 32px;
    text-align: right;
    width: 225px;
    padding: 10px 25px 10px 0px;
    border-radius: 20px;
    background-color: white;
    position: sticky;
    bottom: 25px;
    left: 1650px;
}