:root {
    --primary-color: red;
    --secondary-color: darkred;
    --text-color: gold;
}

body {
    font-family: "Times New Roman";
}

.heading {
    padding: 35px;
    background-color: var(--primary-color);
    font-size: 64px;
    color: var(--text-color);
    text-align: center;
}

.book-container {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    justify-content: center;
    gap: 25px;

    & .book {
        background-color: var(--primary-color);
        height: 325px;
    }
}